{:http-server-root "public"                                 ;; default
 :server-port 3449                                          ;; default
 :open-file-command "emacs-file-opener"
 :css-dirs ["resources/public/css"]
 :server-logfile "log/fighweel-server.log"
 :builds [{:id "dev"
           :figwheel {:on-jsload  startpage.core/main}
           :source-paths ["src"]
           :compiler
           {:main startpage.core
            :output-to "resources/public/js/app.js"
            :output-dir "resources/public/js/out"
            :asset-path "/js/out"
            :optimizations :none
            :source-map-timestamp true
            :preloads [devtools.preload]
            :external-config
            {:devtools/config
             {:features-to-install [:formatters :hints]
              :print-config-overrides true}}}}]}
